<%= form_for(['backend', @market]) do |f| %>
<div class="box-body">
  <div class="col-md-5">
    <div class="form-group has-success">
      <label>排序</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-sort-numeric-asc"></i>
        </div>
        <%= f.text_field :sequence, class:'form-control', placeholder:'（必填* 展示排列顺序）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>对标</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.text_field :quote_unit, class:'form-control', placeholder:'（必填* 对标报价币种）' %>
      </div>
      <%= model_errors(@market,'quote_unit') %>
    </div>
    <div class="form-group has-success">
      <label>基准</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :base_unit, class:'form-control', placeholder:'（必填* 基准货币）' %>
      </div>
      <%= model_errors(@market,'quote_unit') %>
    </div>
    <div class="form-group has-success">
      <label>交易所</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-cube"></i>
        </div>
        <%= f.select(:source, [['币安Binance','binance'],['比特Bittrex','bittrex'],['富币Fcoin','fcoin']], {prompt:'选择交易所'}, {:class => 'form-control'}) %>
      </div>
      <%= model_errors(@market,'source') %>
    </div>
  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>