<%= content_for(:title,  '交易市场 | Exchange') %>
<meta http-equiv="refresh" content="60">
<section class="content-header">
  <h1>
    市场 <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-exchange"></i> 市场列表</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_backend_market_path %>" class="btn bg-primary btn-flat"><i class="ion-plus"></i> 添加市场</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">交易所</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">市场币</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">标的币</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">平均成本</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">现货数量</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center;width: 240px">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @markets.each do |item| %>
              <tr style="text-align: center">
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px">
                    <i class="fa fa-cc-mastercard"></i>
                    <%= item.source.camelize %>
                    <%= item.sequence %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <i class="fa fa-dot-circle-o" style="float: left;"></i>
                    <%= item.full_name %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <%= item.recent_price rescue item.last_quote&.c %> <%= item.base_unit %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <%= item.avg_cost&.round(4) rescue 0 %> <%= item.base_unit %>
                  </label>
                </td>
                <td><br>
                  <label class="btn bg-black btn-flat" style="font-size: 16px;min-width: 100px">
                    <%= item.sync_fund rescue 0 %> <%= item.quote_unit %>
                  </label>
                </td>
                <td style="text-align: left">
                  <a href="<%= edit_backend_market_path(item) %>" class="btn bg-orange btn-flat">
                    <i class="fa fa-edit"></i>
                  </a>
                  <a href="<%= backend_market_path(item) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除吗？">
                    <i class="fa fa-trash"></i>
                  </a>
                  <br><br>
                  <a href="<%= backend_market_candles_path(item) %>" class="btn bg-fuchsia btn-flat" title="行情列表">
                    <i class="fa fa-area-chart"></i>
                  </a>
                  <a href="<%= sync_balance_backend_market_path(item) %>" class="btn bg-yellow btn-flat" title="同步资金">
                    <i class="fa fa-money"></i>
                  </a>
                  <a href="<%= sync_candles_backend_market_path(item) %>" class="btn bg-purple btn-flat" data-confirm="确定同步最新情数据吗？" title="同步行情">
                    <i class="fa fa-chain"></i>
                  </a>
                  <a href="<%= clear_candles_backend_market_path(item) %>" class="btn bg-navy btn-flat" data-confirm="确定清空行情数据吗？" title="清空行情">
                    <i class="fa fa-unlink"></i>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @markets.count %>」</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @markets, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>