<%= form_for(['backend',@regulate]) do |f| %>
<div class="box-body">
  <div class="col-md-5">
    <div class="form-group has-success">
      <label>货币市场</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.select(:market_id, Market.all.map{|x| [x.full_name,x.id]}, {prompt:'请选择市场'},{:class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>数量精度</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dot-circle-o"></i>
        </div>
        <%= f.text_field :amount_precision, class:'form-control', placeholder:'（必填* 交易数量精度）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>价格精度</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dot-circle-o"></i>
        </div>
        <%= f.text_field :price_precision, class:'form-control', placeholder:'（必填* 交易价格精度）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>行情浮动</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-thermometer-half"></i>
        </div>
        <%= f.text_field :amplitude, class:'form-control', placeholder:'（必填* 涨跌变化幅度）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>持有头寸</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-battery-1"></i>
        </div>
        <%= f.text_field :retain, class:'form-control', placeholder:'（必填* 需要保留的数量）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>交易资金</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :cost, class:'form-control', placeholder:'（必填* 交易分配的资金）' %>
      </div>
    </div>
    <div class="form-group has-warning">
      <label>快捷数量</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :fast_cash, class:'form-control', placeholder:'（必填* 快捷交易数量）' %>
      </div>
    </div>
    <div class="form-group has-warning">
      <label>浮动数量</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :range_cash, class:'form-control', placeholder:'（必填* 浮动交易数量）' %>
      </div>
    </div>
<!--     <div class="form-group has-error">
      <label>快频收益</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-gift"></i>
        </div>
        <%= f.text_field :fast_profit, class:'form-control', placeholder:'（必填* 快频交易最小收益率）' %>
      </div>
    </div>
 --><!--     <div class="form-group has-warning">
      <label>支阻收益</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-gift"></i>
        </div>
        <%= f.text_field :range_profit, class:'form-control', placeholder:'（必填* 支阻交易最小收益率）' %>
      </div>
    </div>
 -->  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>