<%= form_for(['backend',@regulate]) do |f| %>
<div class="box-body">
  <div class="col-md-5">
    <div class="form-group has-error">
      <label>货币市场</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-btc"></i>
        </div>
        <%= f.select(:market_id, Market.all.map{|x| [x.full_name,x.id]}, {prompt:'请选择市场'},{:class => 'form-control'}) %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>数量精度</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dot-circle-o"></i>
        </div>
        <%= f.text_field :amount_precision, class:'form-control', placeholder:'（必填* 交易数量精度）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>价格精度</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-dot-circle-o"></i>
        </div>
        <%= f.text_field :price_precision, class:'form-control', placeholder:'（必填* 交易价格精度）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>最大持有币种</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-battery-4"></i>
        </div>
        <%= f.text_field :retain, class:'form-control', placeholder:'（必填* 最大持有币种数量）' %>
      </div>
    </div>
    <div class="form-group has-success">
      <label>最小卖出收益</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :cash_profit, class:'form-control', placeholder:'（必填* 最小卖出收益）' %>
      </div>
    </div>

    <div class="form-group has-success">
      <label>建仓价位</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-arrow-up"></i>
        </div>
        <%= f.text_field :cost, class:'form-control', placeholder:'（必填* 建仓价位）' %>
      </div>
    </div>
    <div class="form-group has-warning">
      <label>盈利价位</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-arrow-down"></i>
        </div>
        <%= f.text_field :resistance, class:'form-control', placeholder:'（必填* 盈利价位）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>亏损价位</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-arrow-up"></i>
        </div>
        <%= f.text_field :support, class:'form-control', placeholder:'（必填* 亏损价位）' %>
      </div>
    </div>

    <div class="form-group has-warning">
      <label>短期交易数量</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :fast_cash, class:'form-control', placeholder:'（必填* 短期交易数量）' %>
      </div>
    </div>
    <div class="form-group has-warning">
      <label>短期盈亏比率</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-gift"></i>
        </div>
        <%= f.text_field :fast_profit, class:'form-control', placeholder:'（必填* 短期交易成交收益）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>长期交易数量</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-money"></i>
        </div>
        <%= f.text_field :range_cash, class:'form-control', placeholder:'（必填* 长期交易数量）' %>
      </div>
    </div>
    <div class="form-group has-error">
      <label>长期盈亏收益</label>
      <div class="input-group">
        <div class="input-group-addon">
          <i class="fa fa-gift"></i>
        </div>
        <%= f.text_field :range_profit, class:'form-control', placeholder:'（必填* 长期盈亏收益）' %>
      </div>
    </div>

  </div>
  <div class="col-md-12">
    <hr>
    <div>
      <button type="submit" class="btn bg-maroon btn-flat" style="width: 120px">提交</button>
      <a href="<%= request.referrer %>" class="btn bg-navy btn-flat" style="width: 120px">取消</a>
    </div>
  </div>
</div>
<% end %>