<%= content_for(:title,  '收益风控 | BLOCK') %>
<section class="content-header">
  <h1>
    收益风控 <small>预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-btc"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-balance-scale"></i> 收益风控</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_backend_regulate_path %>" class="btn bg-primary btn-flat"><i class="ion-plus"></i> 添加风控</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">制式</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">指数</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">提醒</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">进程</th>
              <th tabindex="0" aria-controls="example1" style="width: 120px;">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @regulates.each do |item| %>
              <tr style="text-align: left">
                <td>
                  <%= item.market.full_name %><br>
                  价格精度：<%= item.price_precision %><br>
                  数量精度：<%= item.amount_precision %><br>
                  最大收益：<%= item.range_profit %> <%= item.market.base_unit %><br>
                  <% if item.market.source    == 'binance' %>
                    现货头寸： <%= item.current_fund.to_d.round(item.amount_precision, :down)  rescue 0 %><br>
                  <% end %>
                  <% if item.market.source == 'future' %>
                    <% long = item.market.long_position%>
                    多单头寸： +<%= long['positionAmt'] %> <br>
                    <% short = item.market.short_position%>
                    空单头寸： <%= short['positionAmt'] %><br>
                  <% end %>
                </td>
                <td style="text-align: left">
                  最大数量： <%= item.retain %> <%= item.market.quote_unit %><br>
                  单次交易： <%= item.fast_cash %> <%= item.market.quote_unit %><br>
                  浮动收益： <%= item.cash_profit %> <%= item.market.base_unit %><br>
                  亏损成本： <%= item.support %> <%= item.market.base_unit %><br>
                  <% if item.market.source    == 'binance' %>
                    现货头寸： <%= item.current_fund.to_d.round(item.amount_precision, :down)  rescue 0 %><br>
                    平均成本： <%= item.market.avg_cost.to_d.round(item.price_precision, :down) rescue 0 %><br>
                    压力位价： <%= item.resistance %><br>
                  <% elsif item.market.source == 'future' %>
                    多单价格： <%= long['entryPrice'] %> &nbsp; 收益： <%= long['unrealizedProfit'] %><br>
                    空单价格： <%= short['entryPrice'] %> &nbsp; 收益： <%= short['unrealizedProfit'] %><br>
                  <% end %>
                </td>
                <td>
                  钉钉：<input type="checkbox" name="my-state" <%= 'checked' if item.notify_dd %> onchange='switch_state(<%= item.id %>, "dd")'></br></br>
                  短信：<input type="checkbox" name="my-state" <%= 'checked' if item.notify_sms %> onchange='switch_state(<%= item.id %>,"sms")'>
                </td>
                <td style="text-align: left">
                  止损：<input type="checkbox" name="my-state" <%= 'checked' if item.stoploss %> onchange='switch_state(<%= item.id %>, "stoploss")'>&nbsp;&nbsp;
                  止盈：<input type="checkbox" name="my-state" <%= 'checked' if item.takeprofit %> onchange='switch_state(<%= item.id %>, "takeprofit")'></br></br>
                  加仓：<input type="checkbox" name="my-state" <%= 'checked' if item.chasedown %> onchange='switch_state(<%= item.id %>, "chasedown")'>&nbsp;&nbsp;
                  高频：<input type="checkbox" name="my-state" <%= 'checked' if item.fast_trade %> onchange='switch_state(<%= item.id %>, "fast")'>&nbsp;&nbsp;
                </td>
                <td><br>
                  <a href="<%= edit_backend_regulate_path(item) %>" class="btn bg-orange btn-flat">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a href="<%= backend_regulate_path(item) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除吗？">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @regulates.count %>」</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @regulates, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<% content_for :script_footer do %>
  <script type="text/javascript">
    function switch_state(id,kind) {
      $.get('/backend/regulates/' + id +'/change_state?kind=' + kind);
    }
    $("[name='my-state']").bootstrapSwitch({onColor:'success',offColor:'danger', onText: 'ONN', offText: 'OFF'});
  </script>
<% end %>