<%= content_for(:title,  '编辑订单 | Exchange') %>
<section class="content-header">
  <h1>
    市场订单
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i><img src="<%= image_path('octicons/milestone-24.svg') %>" style="height: 20px;"></i> Dashboard</a></li>
    <li class="active"><i><img src="<%= image_path('octicons/code-of-conduct-24.svg') %>" style="height: 20px;"></i> 交易订单</li>
    <li class="active"><i><img src="<%= image_path('octicons/diff-24.svg') %>" style="height: 20px;"></i> 更新订单</li>
  </ol>
</section>
<section class="content">
  <div style="padding-top: 10px">
    <div class="box box-warning">
      <div class="box-header">
        <h3 class="box-title">编辑表单</h3>
      </div>
      <%= render 'form' %>
    </div>
  </div>
</section>