<%= content_for(:title,  '市场订单 | Exchange') %>
<section class="content-header">
  <h1>
    市场订单 <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-envelope-open-o"></i> 市场订单</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= new_backend_order_path %>" class="btn bg-primary btn-flat"><i class="ion-plus"></i> 新增订单</a>
      <row>
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="?">类别</option>
            <option value="?type=OrderAsk" <%= 'selected' if params[:type] == 'OrderAsk' %>>卖出</option>
            <option value="?type=OrderBid" <%= 'selected' if params[:type] == 'OrderBid' %>>买入</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="?">类型</option>
            <option value="?cate=limit&type=<%= params[:type] %>" <%= 'selected' if params[:cate] == 'limit' %>>限价</option>
            <option value="?cate=fast&type=<%= params[:type] %>" <%= 'selected' if params[:cate] == 'fast' %>>快频</option>
            <option value="?cate=range&type=<%= params[:type] %>" <%= 'selected' if params[:cate] == 'range' %>>量价</option>
          </select>
        </div>
        <div class="col-sm-2">
          <select onchange="javascript:location.href = this.value;" class="form-control" style="display: inline;">
            <option value="?">状态</option>
            <% ['init','succ','rescue', 'fail'].each do |state|%>
              <option value="?type=<%= params[:type] %>&cate=<%= params[:cate] %>&state=<%= state %>" <%= 'selected' if params[:state] == state %>><%= state.upcase %></option>
            <% end %>
          </select>
        </div>
      </row>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">市场</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">交易</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">价格</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">数量</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">小计</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">状态</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center;width: 150px">操作</th>
            </tr>
            </thead>
            <tbody>
            <% @orders.each do |item| %>
              <tr style="text-align: center">
                <td><%= item.market&.full_name %><br>
                  <%= item.updated_at.to_s(:short) %>
                </td>
                <td><%= item.type_cn %><br>
                  <%= item.category.camelize %>
                </td>
                <td><%= item.price %></td>
                <td><%= item.amount %></td>
                <td><%= item.total %></td>
                <td>
                  <label class="btn bg-black btn-flat" title="<%= item.cause if item.state.fail? %>" style="font-size: 16px;min-width: 100px">
                    <%= item.state %>
                  </label>
                </td>
                <td>
                  <a href="<%= edit_backend_order_path(item) %>" class="btn bg-orange btn-flat">
                    <i class="glyphicon glyphicon-edit"></i>
                  </a>
                  <a href="<%= backend_order_path(item) %>" class="btn bg-red btn-flat" data-method="delete" data-confirm="确定删除吗？">
                    <i class="glyphicon glyphicon-trash"></i>
                  </a>
                </td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h4>总计 ：<%= @orders.count %></h4></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @orders, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>