<section class="content-header">
  <h1>
    市场 <small>指标结果</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-exchange"></i> 市场列表</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-header">
      <a href="<%= clear_history_backend_indicators_path %>" class="btn bg-green btn-flat" data-confirm="确定删除历史指标吗？"><i class="fa fa-close"></i> 清空指标</a>
    </div>
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">时间</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">提醒</th>
            </tr>
            </thead>
            <tbody>
            <% @indicators.each do |item| %>
              <tr style="text-align: center">
                <td style="width: 222px"><%= item.created_at.to_s(:short) %>
                  &nbsp;&nbsp;
                  <a href="<%= backend_indicator_path(item) %>" data-method="delete" data-confirm="确定删除该指标吗？">
                    <i class="fa fa-close"></i>
                  </a>
                </td>
                <td style="text-align: left"><b><%= item.name %></b></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @indicators.count %>」</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @indicators, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>