<div class="social-auth-links text-center">
  <p>- OR -</p>
  <% if controller_name != 'registrations' %>
  <a href="<%= sign_up_path %>" class="btn btn-block btn-social btn-success btn-flat">
    <i style="background-color: #fff;"><img src="<%= image_path('octicons/people-24.svg') %>"></i><span style="padding-left: 33%">注册账户</span>
  </a>
  <% end %>
  <% if controller_name != 'sessions' %>
  <a href="<%= sign_in_path %>" class="btn btn-block btn-social btn-primary btn-flat">
    <i style="background-color: #fff;"><img src="<%= image_path('octicons/passkey-fill-24.svg') %>"></i><span style="padding-left: 33%">登录账户</span>
  </a>
  <% end %>
    <% if controller_name != 'passwords' %>
  <a href="<%= forgot_password_path %>" class="btn btn-block btn-social btn-danger btn-flat">
    <i style="background-color: #fff;"><img src="<%= image_path('octicons/alert-24.svg') %>"></i> <span style="padding-left: 33%">找回密码</span>
  </a>
  <% end %>
</div>