<%= content_for(:title,  "交易市场 | Exchange") %>
<section class="content-header">
  <h1>
    市场 <small>信息预览</small>
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
    <li class="active"><i class="fa fa-exchange"></i> 市场列表</li>
  </ol>
</section>
<section class="content">
  <div class="box box-primary">
    <div class="box-body">
      <div class="row">
        <div class="col-sm-12">
          <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
            <thead>
            <tr>
              <th tabindex="0" aria-controls="example1" style="text-align: center">时间</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">开</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">高</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">低</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">收</th>
              <th tabindex="0" aria-controls="example1" style="text-align: center">成交量</th>
            </tr>
            </thead>
            <tbody>
            <% @candles.each do |item| %>
              <tr style="text-align: center">
                <td><%= item.int_t %></td>
                <td><%= item.o %></td>
                <td><%= item.h %></td>
                <td><%= item.l %></td>
                <td><%= item.c %></td>
                <td><%= item.v %></td>
              </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="dataTables_info" id="example1_info" role="status" aria-live="polite"><h5>总计：「<%= @candles.count %>」</h5></div>
        </div>
        <div class="col-sm-12">
          <div class="dataTables_paginate paging_simple_numbers">
          <%= will_paginate @candles, :class=>'apple_pagination' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>