<p class="login-box-msg">注册账号</p>
<%= form_for(resource, as: resource_name, url: sign_up_path) do |f| %>
  <div class="form-group has-feedback">
    <input autofocus="autofocus" class="form-control" placeholder=" 注册邀请码" type="text" value="" name="code">
    <span class="glyphicon glyphicon-barcode form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.email_field :email, autofocus: true ,class:'form-control',placeholder:model_errors(resource,'email') || 'Email'%>
    <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.password_field :password, autocomplete: "off",class:'form-control',placeholder: model_errors(resource,'password') || 'Password' %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="form-group has-feedback">
    <%= f.password_field :password_confirmation, autocomplete: "off",class:'form-control',placeholder:model_errors(resource,'password_confirmation') || 'Password Confirmation' %>
    <span class="glyphicon glyphicon-lock form-control-feedback"></span>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <%= f.submit "注册",class:'btn btn-success btn-block btn-flat' %>
    </div>
  </div>
<% end %>
<%= render :partial=>'users/shared' %>